.MainBody {
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: sticky;
    top: 0px;
    z-index: 99999;
}

.HeaderWrapper {
    width: 100%;
    /* background: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 40px;
    border-bottom: 1px solid rgba(240, 240, 240, 0.487);
}

.MobileToggle {
    display: none;
}

.NavsContainer {
    width: max-content;
   display: flex;
   /* background: blue; */
   gap: 20px;
   align-items: center; 

   & nav {  
    width: max-content;

    & ul {
        display: flex;
        justify-content: space-around;
        /* background: red; */
        position: relative;
        gap: 20px;


        & li {
            list-style-type: none;
            cursor: pointer;
            font-size: 15px;
            font-weight: 500;
            color: rgb(39, 35, 48);
            font-family: "Poppins", sans-serif;
            transition: all 350ms ease-in;
            transform: scale(1);
            padding: 10px;
            border-radius: 3px;
            display: flex;
            align-items: center;
        }

        & li:hover {
            transform: scale(1.07);
            background: rgba(231, 230, 230, 0.366);
        }
    }
   }

   & .Search {
        display: flex;
        font-size: 20px;
        align-items: center;
        cursor: pointer;
        transition: all 350ms ease-in;
        transform: scale(1);
        padding: 10px;
        /* background: #000; */
   }

  & .Search:hover {
    transform: scale(1.07);
    background: rgba(231, 230, 230, 0.366);
}
}

.DropList {
    position: absolute;
    background: white;
    left: 0px;
    top: 100%;
    width: 70%;
    padding: 16px;
    transition: all 350ms ease-in-out;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    /* animation: backInDown; */
    /* animation-duration: 0.5s; don't forget to set a duration! */
}

.dropList_link{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    padding: 5px;
    border-radius: 4px;
}

.dropList_link:hover{
    background-color: rgba(244, 244, 244, 0.8);
}

.SearchInput {
    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid gray;
    padding-left: 10px;
    border-radius: 3px;
}

.SodLogo {
    width: 100px;
    height: 60px;
    /* background: red; */
    cursor: pointer;

    & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.cartContainer {
    width: 30%;
    /* background: blue; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}


.AmountContainer {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    align-items:center;
    gap: 10px;
}

.Naira, .dollar {
    display: flex;
    align-items: center;
}

.CartBag {
    font-size: 20px;
    position: relative;
    cursor: pointer;
    transform: scale(1);
    transition: all 350ms ease-in-out;
}

.CartBag:hover {
    transform: scale(1.05);
}

.CartBagNum {
    position: absolute;
    width: 20px;
    height: 20px;
    background: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border-radius: 50%;
    bottom: 60%;
    left: 65%;
}

.UserIcon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    /* background-color: green; */
    position: relative;
}

.account_listing_container{
    position: absolute;
    top: 40px;
    right: 0;
    width: 240px;
    padding: 16px 0px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 2px rgba(211, 211, 211, 0.415);
}

.header_signin_btn{
    width: 100%;
    padding: 0px 16px 16px 16px;
    border-bottom: 2px solid lightgrey;
}

.header_signin_btn button{
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.account_listing_link{
    width: 100%;
    height: max-content;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 14px;
    /* background-color: red; */
    cursor: pointer;
}

.account_listing_link p{
    color: #000;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.account_listing_link:hover{
    background-color: lightgrey;
}


/* End of Media Query Styling For Desktop Device */

/* Media Query Styling for Small Desktop  */

@media only screen and (max-width: 1200px) {}

/* End of Media Query Styling for Tablet Device */


/* Media Query Styling for Big Tablet Device */

@media only screen and (max-width: 900px) {
    /* .MobileToggle {
        display: flex;
    }

    nav {
        display: none;
        
    }

    .NavsContainer {
        background: green;
    }

    .Search {
        display: none;
    }

    .SodLogo{
        background: red;
    }

    .cartContainer {
        width: 30%;
        background: #000;
    } */
}

/* End of Media Query Styling for Tablet Device */
/* Media Query Styling for Tablet Device */

@media only screen and (max-width: 760px) {}

/* End of Media Query Styling for Tablet Device */

/* Media Query Styling for Mobile Device */

@media only screen and (max-width: 480px) {
    .HeaderWrapper {
        /* background: yellow; */
        padding: 10px 16px;
    }

    .MobileToggle {
        font-size: 22px;
        display: flex;
    }

    .NavsContainer{
        /* background-color: blue; */
        width: max-content;
    }

    nav {
        display: none;
        
    }

    .Search {
        font-size: 22px;
   }

    .SodLogo {
        width: 20%;
        height: 40px;
        /* background: red; */
    
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .cartContainer {
        width: 30%;
        /* background: #000; */
    }

    .AmountContainer{
        display: none;
    }
}

@media only screen and (max-width: 379px) {}




