.TopHeaderBody {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #efefef;
    padding: 10px 5px;
    height: 20%;

    & h6 {
        font-size: 13px;
        font-weight: 500;
        line-height: 27.2px;
        font-family: "Lato", sans-serif;
        color: rgb(38, 34, 47);
    }
}